@font-face {
    font-family: meu;
    src: url(/assets/font/Archive.otf);
}

@font-face {
    font-family: more;
    src: url("/assets/font/ArchiveRegular.ttf");
}

@font-face {
    font-family: mose;
    src: url(/assets/font/Montserrat-Regular.ttf);
}

:root {
    --blue: #2697ff;
    --green: #27ae60;
    --black: #060843;
    --grey: #f5f6fa;
    --light-color: #666;
    --orange: #D96827;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
    font-family: more;
    text-decoration: none;
    list-style: none;

}

body {
    overflow-x: hidden;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(208,208,220) 50%, rgb(213 213 224) 100%);
}

body.nav-open {
    overflow: hidden;
    height: 100vh;
}


html {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
html::-webkit-scrollbar {
    width: 8px;
}

html::-webkit-scrollbar-thumb {
    background: var(--black);
}

.cover-image {
    position: relative;
}

.cover-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.btn {
    padding: 11px 16px;
    background: var(--orange);
    color: #FFF;
    text-transform: uppercase;
    border-radius: 24px;
    overflow: hidden;
    cursor: pointer;
    z-index: 1; /* Ensure the button content is above the arrow */
}
 
@media (min-width:320px) and (max-width: 500px) {
    .nav {
      position: fixed;
      top: 0;
      padding: 15px 20px;
      height: 100vh;
      max-width: 100vw;
      width: 100%;
      padding-top: 100px;
      flex-direction: column;
      background: rgb(252,176,69);
      background: linear-gradient(0deg, rgba(252,176,69,1) 0%, rgba(232,128,30,1) 49%, rgba(217,104,39,1) 100%);
      background-size:cover;
      background-repeat: no-repeat;
      background-position: center;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      transition: all 0.4s ease;
    }
    
    .nav .navCloseBtn {
      position: absolute;
      top: 20px;
      right: 22px;
      color: var(--black);
      font-size: 40px;
      cursor: pointer;
    }
  }

.box-btn {
    display: flex;
}

@media only screen and (min-width:960px) {
    .nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}
    .btn {
        /* position: absolute; */
        padding: 13px 30px;
        background: var(--orange);
        color: #FFF;
        text-transform: uppercase;
        border-radius: 24px;
        /* font-size: 12px; */
        font-size: 20px;
        transition: all .2s ease-in-out;
    }
    .hero .wrapper .btn {
        padding-bottom: 10px;
    }
}

.dotted::after {
    content: '';
    width: 8px;
    height: 8px;
    background: var(--orange);
    display: inline-block;
    margin-left: 5px;
    border-radius: 2px;
}

@media only screen and (min-width:940px) {
    .dotted::after {
        width: 18px;
        height: 18px;
    }
}

.wrapper {
    width: 79%;
    max-width: 1360px;
    margin: 0 auto;
}

h1, h2, h3, p, span, a, .quote {
    font-weight: lighter;
    letter-spacing: 0;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    z-index: 2010;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    transition: all 0.3s ease-in-out;
}


.headeractive{
    background: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

}
header .logo img {
    width: 114px;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    margin: 0 10px;
    transition: 0.2s;
    font-family: mose;
    color: var(--black);
}

nav ul {
    padding-left: 80px;
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 4px;
}

nav ul li a:hover,
nav ul li a:active {
    color: var(--grey);
}
.backdrop {

}

.hamburger {
    cursor: pointer;
    display: none;
}
.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: var(--black);
}
@media only screen and (max-width: 900px) {

    header {
        padding: 0 30px;
    }
}
@media only screen and (max-width: 700px) {
    .hamburger {
        display: block;
    }
    header nav, header.fixed nav {
        position: absolute;
        width: 100%;
        left: -100%;
        width: 100%;
        background: rgb(252,176,69);
        
        background: linear-gradient(0deg, rgba(252,176,69,1) 0%, rgba(232,128,30,1) 49%, rgba(217,104,39,1) 100%);        
        opacity: 2;
        padding: 30px;
        transition: 0.3s;
    }
    header #nav_check:checked ~ nav {
        left: 0;
    }
    header nav .nav-links {
        display: block;
    }
    header nav ul li {
        margin: 52px 0px;
        font-size: 30px;
        font-weight: bolder;
    }

    header nav ul li a:hover {
        border-bottom: 5px;
        border-radius: 5px;
        background-color: #060843;
    }
}

.with-padding {
    padding: 4rem 0;
}

.hero {
    height: 100vh;
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #E5E5EC 100%) 0% 0% repeat;
    display: flex;
    align-items: center;
    justify-content: center;

}
.hero2 {
    padding-top: 185px;
    /* background: transparent linear-gradient(180deg, #FFFFFF 0%, #E5E5EC 100%) 0% 0% repeat; */
}

.hero2 .wrapper h2 {
    font-size: 35px;
    color: var(--black);
}

.hero2 .wrapper h2 span {
    color: var(--orange);
}

.hero2 .wrapper p {
    font-family: mose;
    margin-top: 14px;
    width: 100%;
    line-height: 18px;
}

@media only screen and (min-width:960px) {
    nav ul li a:hover,
    nav ul li a:active {
        color: var(--orange);
    }
    .hero2 .wrapper p {
        font-size: 16px;
        font-family: mose;
        width: 430px;
        line-height: 28px;
        font-weight: lighter;
        color: var(--black);
    }
    .hero2 .wrapper h2 {
        font-size: 50px;
        color: var(--black);
    }
    .nav .navCloseBtn {
        display: none;
      }
}

.hero .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.hero2 .wrapper{
    display: block;
}
.overview{
    position: relative;
    z-index: 2;
}

.overview .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 16px;
}

@media only screen and (min-width: 767px){
    .overview .overview-items {
        display: grid;
        grid-template: 1fr 1fr;
        column-gap: 16px;
    }

    .overview .wrapper .overview-item .phrase p{
        color: #fff;
        font-family: mose;
        font-size: 10px;
        text-align: left;
        margin: 18px 0;
        line-height: 28px;
        margin-bottom: 30px;
    }
    .patern {
        position: relative;
        margin-top: 50px;
        background: var(--grey) url(/assets/images/pattern-sterco.svg) repeat left top;
        width: 100vw;
    }

    .patern::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 20vh;
        background: rgb(208,208,220);
        background: linear-gradient(180deg, rgba(208,208,220,1) 0%, rgba(208,208,220,0) 100%);
    }
}


@media (min-width:769px) and (max-width:997px) {
    .overview .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;
        margin-bottom: 200px;
    }
    .nav .navCloseBtn {
        display: none;
      }
    footer .footer-col {
        /* width: 20%; */
        margin: 0px 10px;
    }
}

@media only screen and (min-width: 998px) {
    .nav .navCloseBtn {
        display: none;
      }
    .overview .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 16px;
    }

    .overview .wrapper .overview-item .phrase p{
        color: #fff;
        font-family: mose;
        font-size: 16px;
        text-align: left;
        margin: 18px 0;
        line-height: 28px;
        margin-bottom: 30px;
    }
}

.overview .wrapper .overview-item{
    
    background: transparent linear-gradient(180deg, #06084300 0%, #060843 100%) 0% 0%;
    border-radius: 20px;
    background-repeat: no-repeat;
    margin-bottom: 45px;
    height: 467px;
    cursor: pointer;
    z-index: 0;
    /* overflow: hidden; */
   
}
.overview .wrapper .phrase {
    width: calc( 100% - 80px);
    position: absolute;
    left: 40px;
    z-index: 2;
    bottom: 0;
    
}
.overview .wrapper .overview-item .phrase h3 {
    font-size: 30px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
}
.overview .wrapper .overview-item .phrase p {
    color: #fff;
    font-family: mose;
    font-size: 16px;
    text-align: left;
    margin: 18px 0;
    line-height: 28px;
    margin-bottom: 56px;
}

.overview .wrapper .overview-item .phrase .btn a{
   color: #fff;
   margin-top: 50px;
}

.overview .wrapper .overview-item .phrase .btn:hover{
    color: var(--orange);
    margin-top: 50px;
    background-color: #fff;
 }

.hero h1 {
    font-size: 40px;
    text-align: center;
    color: var(--black);
}
@media only screen and (max-width:1257px) {
    .overview .wrapper .overview-item .phrase .btn {
        font-size: 14px;
        padding: 13px;
    }
    .overview .wrapper .overview-item .phrase h3 {
        font-size: 22px;
        text-align: left;
        color: #fff;
        text-transform: uppercase;
    }
}

@media only screen and (min-width:960px) {
    .hero h1 {
        font-size: 110px;
        line-height: 92px;
        color: var(--black);
        letter-spacing: 0px;
        opacity: 1;
        font-weight: lighter;
    }
    .overview .wrapper .overview-item .phrase .btn {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(50%);
        z-index: 2;
       
    }
}

.text-image .wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.text-image {
    /* background: #E5E5EC; */
    background: rgb(208,208,220);
    background: linear-gradient(180deg, #E5E5EC  0%, rgba(208,208,220,0.8099614845938375) 100%);
}

@media only screen and (min-width:960px) {
    .text-image .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.text-image-left {
    display: flex;
    align-items: center;
}

.text-image-left .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text-umage-left .text-content .main-content {
    width: 100%;
}

@media only screen and (min-width:960px) {
    .text-umage-left .text-content .main-content {
        width: 81%;
    }
    .text-image-left .text-content .main-content p {
        margin-bottom: 25px;
        font-family: mose;
        color: var(--black);
        width: 430px;
        line-height: 28px;
        font-weight: lighter;
        font-size: 16px;
        text-align: left;
    }
}

.text-image-left .text-image-content h1 {
    font-size: 20px;
    font-weight: normal;
    color: var(--black);
}

.text-image-left .text-content span {
    font-weight: normal;
    color: var(--orange);
}

@media only screen and (min-width:960px) {
    .text-image-left .text-content h1 {
        line-height: 50px;
        font-size: 50px;
        color: var(--black);
        text-align: left;
        font-weight:lighter;
    }
}

.text-image-left .text-content p {
    font-size: 16px;
    font-family: mose;
    color: #060843;
}

@media only screen and (min-width: 960px) {
    
    .patern .patern-text {
        position: relative;
        padding: 145px 26px 180px 136px;
    }
}

@media (min-width: 700px) {
    .nav .navCloseBtn {
        display: none;
      }
}

@media only screen and (min-width: 765px){
    .text-image-left .text-content p {
        font-size: 20px;
        font-family: mose;
        margin-bottom: 30px;
        width: 100%;
        line-height: 28px;
    }
   
    .text-image-right {
        display: flex;
        justify-content: center;
    }

    .hero h1 {
        /* font-size: 80px; */
        text-align: center;
        color: var(--black);
    }

    .text-image-left .text-content h1 {
        /* font-size: 35px; */
        color: #060843;
        margin-bottom: 15px;

    }

    .hero2 .wrapper p {
        color: #060843;
        line-height: 28px;
        margin-bottom: 40px;
    }
    
    .patern .patern-text {
        position: relative;
        margin-top: 30px;
        padding: 0px 50px 20px 30px;
    }

    .cta .wrapper {
        display: flex;
        flex-direction: row;
    }

    .cta .wrapper .information h3 {
        text-transform: none;
        font-size: 32px;
        width: 144%;
        margin-bottom: 20px;
        color: var(--black);
        font-weight: lighter;
    }

    .row {
        display: flex;
        /* flex-wrap: wrap; */
    }
}

@media only screen and (min-width:960px) {
    .text-image-left .text-content p {
        font-size: 16px;
        line-height: 28px;
    }
    .text-image-right {
        margin-left: 64px;
    }
}

img {
    display: block;
}

.svg {
    position: absolute;
    width: 0;
    height: 0;
}

.clipped {
    position: relative;
    width: 50%;
    height: 100vh;
    background-size: cover;
    -webkit-clip-path: url(#my-clip-path);
    clip-path: url(#my-clip-path);
    z-index: 100;
}

.cta {
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #E5E5EC 100%) 0% 0% repeat-x;
}

.cta .wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media only screen and (min-width:960px) {
    .cta .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0;
        align-items: center;
    }
}

@media only screen and (min-width:960px) {

    .cta .wrapper .image {
       display: block;
       position: relative;
       right: 30px;
    }

    .cta .wrapper .image img {
        margin-top: -71px;
    }
}

#text h3 {
    font-size: 33px;
    color: var(--black);
}

#text h3 span {
    color: var(--orange);
}

.box {
    position: relative;
}

.box>.box-bg {
    position: absolute;
    top: 56px;
    left: 0;
    width: 484px;
    rotate: 10deg;
}
.box img {
    rotate: 354deg;
}

.box-bg img {
    transform: matrix(0.95, -0.31, 0.31, 0.95, -43, -98);
}

#triangle img {
    width: 582px;
    height: 526px;
    transform: matrix(.95, -0.31, 0.31, 0.95, -90, -66);
}

.box-img {
    height: 525px;
    /* clip-path: url(#my-clip-path);
    transform: matrix(0.99, 0.1, -0.1, 0.99, 7, -53); */
}

.pics {
   
    height: 310px;
    display: flex;
    gap: 5px;
    flex-direction: row;
}


@media only screen and (min-width:960px) {
    .pics {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 410px;
        gap: 16px;
    }

}

@media only screen and (max-width: 767px) {
    .pics .card .texto p span {
        font-size: 18px;
        font-family: mose;
    }

    .pics .card a {
       
        display: inline-block;
        margin-left: 56px;
        background-color: var(--orange);
        border-radius: 24px;
        text-decoration: none;
        color: #fff;
        font-family: meu;
        font-size: 8px;
        z-index: 100;
        overflow: hidden;

    }

    .pics .card .texto p {
        margin: 6px;
        padding-left: 50px;
        width: 285px;
        /* height: 100px; */
        color: #fff;
        font-family: mose;
        /* margin-bottom: 20px; */
    }

    .pics .card .texto h1 {
        font-size: 20px;
        font-family: meu;
        padding-left: 56px;
        width: 345px;
        color: #fff;
    }
    .pics .card .texto a {
        font-size: 16px;
    }
  
}

.pics .card .btn.btn:hover{
    color: var(--orange);
    background-color: #fff;
}

@media only screen and (min-width:767px) {
    .card {
        width: 13%;
        height: 100%;
        border-radius: 20px;
        display: flex;
        align-items: flex-end;
        flex-grow: 1;
        cursor: pointer;
        position: relative;
        transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) ease-in-out;
        --transition-timing: 0.25s;
        margin-top: -90px;
    }
    
    .slide-1 .card .card-content .texto .title {
        color: #FFF;
        margin-left: 56px;
    }
    .pics .card .texto p {
        margin: 6px;
        padding-left: 50px;
        width: 360px;
        height: 100px;
        color: #fff;
        margin-bottom: 45px;
    }

}

@media (min-width: 320px) and (max-width: 770px){
    .cta .wrapper .image img {
        position: relative;
        top: -170px;
        left: 260px;
        border-radius: 100%;
        width: 150px;
    }
}
.card.active {
    flex-grow: 23;
}

.card>.background {
    position: absolute;
    inset: 0;
    object-fit: cover;
     object-position: center; 
      filter: brightness(0.8); 
     z-index: -1; 
    transition: var(--transition-timing) ease;
    border-radius: 20px;
}

@media only screen and (min-width:960px) {
    .card>.background {
        position: absolute; 
        inset: 0;
        object-fit: cover;
        object-position: center;
        filter: brightness(0.8);
        z-index: -1; 
        transition: var(--transition-timing) ease;
        border-radius: 20px;
    }
}

.card.active>.background {
    filter: brightness(1) grayscale(0);
}

.card>.card-content {
    position: absolute;
    left: 10px;
    /* overflow: hidden; */
    bottom: -15px;
    transition: var(--transition-timing);
   
}

@media only screen and (min-width:960px) {
    .card>.card-content {
        transition: var(--transition-timing);
    }
}    

.card-content * {
    transition: var(--transition-timing);
}

.card-content>.profile-image {
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.card.active .profile-image {
    border: 1px solid rgb(110, 252, 205);
}

.profile-image>svg {
    stroke: #fefefe;
}

.card.active .profile-image>svg {
    stroke: rgb(110, 252, 205);
}

.card-content>.title {
    white-space: pre;
    margin-left: 10px;
    translate: 0 100%;
    opacity: 0;
    transition-delay: 0.3s;
    color: var(--grey);
    display: none;
}

.card.active .title {
    opacity: 1;
    translate: 0 0;
}

.card>.backdrop {
    position: absolute;
    border-radius: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -1;
    /* background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7)); */
    background: transparent linear-gradient(180deg, #06084300 0%, #060843 100%);
}

.overview-item>.backdrop {
    position: relative;
    border-radius: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 470px;
    z-index: 1;
    /* background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7)); */
    background: transparent linear-gradient(180deg, #06084300 0%, #060843 100%);
}

/* parte de  */
.text {
    font-family: meu;
}

.text h1 {
    font-weight: lighter;
    color: var(--black);
    font-size: 25px;
    margin-bottom: 105px;
}

@media only screen and (min-width:960px) {
    .text h1 {
        text-align: left;
        color: var(--black);
        font-size: 50px;
        line-height: 40px;
        letter-spacing: 0;
        font-weight: lighter;
        margin-bottom: 122px;
    }
}
.text span {
    color: var(--orange);
}

.pics {
    margin: 0 auto;
    display: flex;
    cursor: pointer;
    z-index: 1000;
}

.pics .card .card-content {
    width: calc(100% - 80px);
}
@media only screen and (min-width:960px) {
    
    .pics .card .texto h1 {
        font-family: meu;
        /* width: 345px; */
        color: #FFFFFF;
        font-size: 30px;
    }

    .pics .card .card-content {
        width: calc(100% - 80px);
    }
    
    .pics .card .texto p {
        margin: 6px;
        padding-left: 50px;
        width: 360px;
        height: 100px;
        color: #fff;
        margin-bottom: 45px;
    }
}

.overview .wrapper .overview-item .phrase .btn {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(50%);
    z-index: 2;
}



.pics .card .texto p span {
    text-align: left;
    font-size: 16px;
    font-family: mose;
    line-height: 28px;
}

.box .box-image {
    display: block;
    overflow: hidden;
}

.overview-item .box-image img {
    border-radius: 20px;
}

.box .box-text {
    position: absolute;
}

.pics .card a {
    position: absolute;
    bottom: 0;
    transform: translateY(10px);
    display: inline-block;
    margin-left: 56px;
    background-color: var(--orange);
    border-radius: 24px;
    text-decoration: none;
    color: #fff;
    font-family: meu;
    font-size: 20px;
}

/* @media only screen and (min-width:960px){
    .pics .card a {
        position: relative;
        display: inline-block;
        margin-left: 56px;
        background-color: var(--orange);
        padding: 10px 30px;
        border-radius: 20px;
        text-decoration: none;
        color: #fff;
        font-family: meu;
        font-size: 15px;
    }
}  */

.pics .card a:hover {
    background-color: var(--black);
}
 .text-image {
    overflow: hidden;
 }

 .slide-1  {
    background: rgb(208,208,220);
background: linear-gradient(360deg, rgba(208,208,220,1) 0%, rgba(208,208,220,0.8099614845938375) 100%);
    /* background: transparent linear-gradient(360deg, #FFFFFF 0%, #E5E5EC 100%) 0% 0% no-repeat; */
 }

.patern {
    position: relative;
    background: var(--grey) url('/assets/images/pattern-sterco.svg') repeat left top;
    width: 100vw;
}

.patern::before{
    position: absolute;
    content: "";
    top: -2px;
    left: 0;
    width: 100%;
    height: 50vh;
    background: rgb(208,208,220);
    background: linear-gradient(180deg, rgba(208,208,220,1) 0%, rgba(208,208,220,0) 100%);
}

.patern .quote {
    position: absolute;
    display: block;
   font-size: 220px;
   line-height: 28px;
   color: var(--orange);
}

.patern .patern-text h2{
    font-size: 50px;
    color: var(--black);
    margin-left: 0px;
}

@media only screen and (min-width:960px) {

    .patern .quote {
        position: relative;
        right: 1px;
       font-size: 200px;
       line-height: 5px;
       color: var(--orange);
    }
    .patern .patern-text h2{
        position: relative;
        z-index: 3;
        display: inline-block;
        font-size: 50px;
        color: var(--black);
        letter-spacing: 0px;
        text-align: left;
        padding-left: 100px;
    }

    .patern .patern-text {
        position: relative;
        padding: 38px  325px 196px 258px;
 
    }
}

.patern .patern-text p{
    font-size: 16px;
    font-family: mose;
    font-weight: bold;
    color: var(--black);
    overflow: hidden;
}

@media(min-width:960px) {
    .patern .patern-text p{
        position: relative;
        font-size: 17px;
        line-height: 28px;
        font-family: mose;
        font-weight: bold;
        color: var(--black);
        padding-left: 380px;
        overflow: hidden;
    }
}

.patern .patern-text p span, .patern .patern-text h2 span {
    font-size: 50px;
    color: var(--orange);
}


.cta .wrapper .information h3 {
    text-transform: none; 
    font-size: 23px;
    width: 63%;
    margin-bottom: 20px;
    color: var(--black);
    font-weight: lighter;
}

.cta .wrapper .information .btn:hover{
    color: #fff;;
    background-color: #060843;
}

@media only screen and (min-width:960px) {
    .cta .wrapper .information h3 {
        font-size: 50px;
        width: 573px;
        margin-bottom: 30px;
        color: var(--black);
    }

       .information .btn:hover{
        color: #fff;;
        background-color: #060843;
    }
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: var(--black);
    padding: 104px 0;
}
.footer-col{
   width: 24%;
   padding: 0 15px;
}
.footer-col li a strong {
    font-family: mose;
}
.footer-col h4{
	font-size: 22px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col:nth-child(3) li a,.footer-col:nth-child(4) li a {
    margin-bottom: 1px;
    text-decoration: underline;
  }
  
  
.footer-col ul li a{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
    font-family: mose;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.wrapper .logo img {
    width: 141px;
    margin-right: 100px;
    margin-bottom: 10px;
}

.copyright {
    background: #fff;
}

.copyright .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
   
}

.copyright .wrapper p{
   
    font-size: 14px;
    color: var(--black);
    font-family: mose;
}

.shape-mobile {
        height: 381px;
        width: 359px;
        clip-path: url(#my-clip-path);
}

.text-image-left .box-btn .btn:hover {
    background-color: var(--black);
}

.hero .btn:hover {
    background-color: var(--black);
}

.card.active {
    visibility: visible;
    opacity: 1;
}

 .card-content{
    opacity: 0;
    visibility: visible;
}

.card-content .card.active:hover {
    display: block;
    visibility: visible;
    opacity: 1;
}

@media(min-width: 768px) and (max-width:1024px) {
    .hero h1 {
        font-size: 80px;
        text-align: center;
        color: var(--black);
    }
    .cta .wrapper .image {
        height: 90px;
    }

    .cta .wrapper .image img{
        position: relative;
        top: -203px;
        left: 403px;
        border-radius: 100%;
        width: 250px;
    }

    .row {
        display: flex;
        flex-wrap: nowrap;
    }

    .cta .wrapper .information {
        position: relative;
        display: block;
       margin: 52px 0 0 0;
        width: 60%;
    }

    .overview .wrapper .overview-item .phrase p {
        color: #fff;
        font-family: mose;
        /* font-size: 14px; */
        text-align: left;
        margin: 18px 0;
        line-height: 28px;
        margin-bottom: 56px;
    }
} 

@media(max-width: 767px){
  
    .text-image-left .text-content .main-content p {
        margin-bottom: 10px;
        font-family: mose;
        color: var(--black);

        line-height: 28px;
        font-size: 16px;
    }
    .wrapper .text-image-left .text-content h1{
        color: var(--black);
    }
    .card.active {
        flex-grow: 12;
    
    }
    .card {
        height: 300px;
        border-radius: 20px;
        display: flex;
        flex-grow: 2.3;
        margin-bottom: 35px;
        cursor: pointer;
        position: relative;
        transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        --transition-timing: 0.25s;
    }    
 

    .pics .card .texto {
        margin-left: -50px;
    }
    .cta.wrapper .image img {
        border-radius: 100%;
        transform: scale(0.33) skew(0deg) translate(-53px, -1178px);
    }
    .patern .patern-text {
        position: relative;
        z-index: 2;
        margin-top: 87px;
        width: 121%;
    }
    .patern .quote {
        display: block;
        font-size: 140px;
        line-height: 0;
        margin-left: -8px;
    }

    .patern .patern-text h2 {
        margin-top: 20px;
        font-size: 34px;
        width: 65%;
    }
    .wrapper .information {
        margin-top: 148px;
    }

    .cta .wrapper .image {
        height: 9px;
    }
    .cta .wrapper .image img{
        position: relative;
        top: -170px;
        left: 200px;
        border-radius: 100%;
        width: 150px;
    }

  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}

.text-image-right {
    left: -6px;
    position: relative;
    top: 93px;
}

.box-bg img {
    width: 400px;
    height: 517px;
    transform: matrix(0.9, -0.31, 0.31, 0.95, -56, -58);
}

#triangle {
    top: -23px;
}

#triangle img {
    width: 450px;
    height: 466px;
    transform: matrix(0.89, -0.3, 0.3, 0.95, -112, -87);
}

.shape-mobile {
    position: relative;
    top: -28px;
    left: -23px;
    rotate: 334deg;
    height: 343px;
    width: 274px;
    clip-path: url(#my-clip-path);
}


}
@media(min-width: 600px) and (max-width:765px){
    .text h1 {
        font-weight: lighter;
        color: var(--black);
        font-size: 25px;
        margin-bottom: 15px;
    }

    .box>.box-bg img {
        position: absolute;
        top: -46px;
        left: 41px;
        width: 356px;
        rotate: 10deg;
    }
    .card .card-content {
        opacity: 1;
    }

    .overview .wrapper .overview-item .phrase h3 {
        font-size: 26px;
    }

  .footer-col{
    padding: 0;
    width: 100%;
}


.pics .card a {
    position: relative;
    display: inline-block;
    margin-left: 56px;
    background-color: var(--orange);
    border-radius: 24px;
    text-decoration: none;
    color: #fff;
    font-family: meu;
    font-size: 20px;
}

.box img {
    top: 27px;
    position: relative;
    width: 293px;
    rotate: 354deg;
}
}

  @media (max-width: 767px) {
    /* Adjust the grid for smaller screens */
    .slide-1 {
        margin-bottom: 780px;
    }
    .pics {
        display: grid;
      grid-template-columns: 1fr;
      margin-bottom: 150px;
    }
    .overview{
        margin-bottom: 86px;
    }

    .text h1 {
        margin-bottom: 15px;
    }

    .hero2{
        padding-top: 100px;
    }
    .hero2 .wrapper p {
        color: var(--black);
        font-size: 14px;
        margin-bottom: 20px;
    }
    .hero{
        margin-top: 50px;
        height: 85vh;
    }
  }
  