@font-face {
    font-family: meu;
    src: url(/assets/font/Archive.otf);
}

@font-face {
    font-family: more;
    src: url("/assets/font/ArchiveRegular.ttf");
}

@font-face {
    font-family: mose;
    src: url(/assets/font/Montserrat-Regular.ttf);
}

:root {
    --blue: #2697ff;
    --green: #27ae60;
    --black: #060843;
    --grey: #f5f6fa;
    --light-color: #666;
    --orange: #D96827;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
    font-family: more;
    text-decoration: none;
    list-style: none;

}

body {
    
    overflow-x: hidden;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(208,208,220) 50%, rgb(213 213 224) 100%);
}


html {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
html::-webkit-scrollbar {
    width: 8px;
}

html::-webkit-scrollbar-thumb {
    background: var(--black);
}

.cover-image {
    position: relative;
}

.cover-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.btn {
    position: relative;
    padding: 11px 16px;
    background: var(--orange);
    color: #FFF;
    text-transform: uppercase;
    border-radius: 24px;
    text-align: center;
    font-size: 11px;
    overflow: hidden;
    cursor: pointer;
    z-index: 1; /* Ensure the button content is above the arrow */
}

.btn::after {
    transition: all .3s ease-in-out;
    content: "";
    position: absolute;
    width: 32px;
    height: 17px;
    top: 50%;
    transform: translateY(-50%);
    right: -16px; /* Adjusted to make the arrow appear in front of the text */
    background: url(/assets/images/icons8-right-arrow-50.png) no-repeat 0 0;
    background-size: contain;
    opacity: 0;
    z-index: -1; /* Move the arrow behind the button content */
}

.btn:hover::after {
    right: 30px; /* Adjusted to stretch the button forward */
    opacity: 1;
}



/* .btn {
    position: relative;
    padding: 11px 16px;
background: var(--orange);
color: #FFF;
text-transform: uppercase;
border-radius: 24px;
text-align: center;
font-size: 11px;
overflow: hidden;
cursor: pointer;
}


.btn::after {
    transition: all .3s ease-in-out;
    content: "";
    position: absolute;
    width: 32px;
    height: 17px;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    background: url(/assets/images/icons8-right-arrow-50.png) no-repeat 0 0;
    background-size: contain;
    opacity: 0;
} */
 
@media screen and (max-width: 768px) {
/*    
    .nav {
      padding: 15px 20px;
    } */
    .nav {
      position: fixed;
      top: 0;
      padding: 15px 20px;
      height: 100vh;
      max-width: 100vw;
      width: 100%;
      padding-top: 100px;
      /* row-gap: 30px; */
      flex-direction: column;
      background-color: var(--orange);
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      transition: all 0.4s ease;
      z-index: 100;
    }
    .nav .navCloseBtn {
      position: absolute;
      top: 20px;
      left: 310px;
      color: var(--black);
      font-size: 40px;
      cursor: pointer;
    }
  }

  



.box-btn {
    display: flex;
}

@media only screen and (min-width:960px) {
    .nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}
    .btn {
        padding: 12px 30px;
        background: var(--orange);
        color: #FFF;
        text-transform: uppercase;
        border-radius: 24px;
        text-align: center;
        font-size: 12px;
        transition: all .2s ease-in-out;
    }
    .btn {
        font-size: 20px;
    }

}

.dotted::after {
    content: '';
    width: 8px;
    height: 8px;
    background: var(--orange);
    display: inline-block;
    margin-left: 5px;
    border-radius: 2px;
}

@media only screen and (min-width:940px) {
    .dotted::after {
        width: 18px;
        height: 18px;
    }
}

.wrapper {
    width: 80%;
    max-width: 1360px;
    margin: 0 auto;
}

header {
    background: #fff;
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    z-index: 1010;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    transition: all 0.3s ease-in-out;
}


.headeractive{
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

}
header .logo img {
    width: 90px;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    margin: 0 10px;
    transition: 0.2s;
    font-family: mose;
    color: var(--black);
}

nav ul {
    padding-left: 80px;
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 4px;
}

nav ul li a:hover,
nav ul li a:active {
    color: var(--grey);
}

.hamburger {
    cursor: pointer;
    display: none;
}
.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: var(--black);
}
@media only screen and (max-width: 900px) {

    header {
        padding: 0 30px;
    }
}
@media only screen and (max-width: 700px) {
    .hamburger {
        display: block;
    }
    header nav, header.fixed nav {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 70px;
        width: 100%;
        background: var(--orange);
        padding: 30px;
        transition: 0.3s;
    }
    header #nav_check:checked ~ nav {
        left: 0;
    }
    header nav .nav-links {
        display: block;
    }
    header nav ul li a {
        margin: 5px 0;
    }
}

.with-padding {
    padding: 4rem 0;
}

.hero {
    height: 100vh;
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #E5E5EC 100%) 0% 0% repeat;
    display: flex;
    align-items: center;
    justify-content: center;

}
.hero2 {
    padding-top: 185px;
    /* background: transparent linear-gradient(180deg, #FFFFFF 0%, #E5E5EC 100%) 0% 0% repeat; */
}

.hero2 .wrapper h2 {
    font-size: 28px;
    color: var(--black);
}

.hero2 .wrapper h2 span {
    color: var(--orange);
}

.hero2 .wrapper p {
    font-size: 12px;
    font-family: mose;
    margin-top: 14px;
    width: 280px;
    line-height: 18px;
}

@media only screen and (min-width:960px) {
    nav ul li a:hover,
    nav ul li a:active {
        color: var(--orange);
    }
    .hero2 .wrapper p {
        font-size: 16px;
        font-family: mose;
        margin-top: 14px;
        width: 430px;
        line-height: 28px;
    }
    .hero2 .wrapper h2 {
        font-size: 50px;
        color: var(--black);
    }
}

.hero .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.hero2 .wrapper{
    display: block;
}
.box1 {
    /* background: rgb(255,255,255); */
/* background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 50%, rgba(208,208,220,1) 100%); */
    position: relative;
    z-index: 2;
}
/* .box1::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 505px;
    background: rgb(208,208,220);
    background: linear-gradient(-180deg, rgba(208,208,220,1) 0%, rgba(208,208,220,0.3225665266106442) 100%);
} */

.box1 .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 16px;
    padding-top: 40px;
}


@media only screen and (min-width:960px) {
    .box1 .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 16px;
        padding-top: 40px;
    }
}
.box1 .wrapper .box2{
    height: 470px;
    border-radius: 5px;
    background: transparent linear-gradient(180deg, #06084300 0%, #060843 100%) 0% 0%;
    border-radius: 20px;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 45px;
    cursor: pointer;
    z-index: 0;
    /* overflow: hidden; */
   
}
.box1 .wrapper .phrase {
    /* padding: 270px 39px;
    align-items: flex-end; */
    position: absolute;
    align-items: flex-end;
    margin: 20px;
    margin-top: 274px;
    z-index: 2;
}
.box1 .wrapper .box2 .phrase h3 {
    font-size: 30px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
}
.box1 .wrapper .box2 .phrase p{
    color: #fff;
    font-family: mose;
    font-size: 16px;
    text-align: left;
    margin: 18px 0;
    line-height: 28px;
    margin-bottom: 30px;
}

.box1 .wrapper .box2 .phrase .btn a{
   color: #fff;
   margin-top: 50px;
}

.box1 .wrapper .box2 .phrase .btn:hover{
    color: var(--orange);
    margin-top: 50px;
    background-color: #fff;
 }

.box1 .wrapper .box2 .phrase .btn {
    margin-left: -111px;
    z-index: 35;
}
.hero h1 {
    font-size: 40px;
    text-align: center;
    color: var(--black);
}

@media only screen and (min-width:960px) {
    .hero h1 {
        font-size: 110px;
        line-height: 92px;
        color: var(--black);
    }
    .box1 .wrapper .box2 .phrase .btn {
        margin-left: -56px;
        z-index: 2;
    }
}

.text-image .wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.text-image {
    /* background: #E5E5EC; */
    background: rgb(208,208,220);
background: linear-gradient(180deg, #E5E5EC  0%, rgba(208,208,220,0.8099614845938375) 100%);
}

@media only screen and (min-width:960px) {
    .text-image .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0;
    }
}

.text-image-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-image-left .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text-umage-left .text-content .main-content {

    width: 100%;
}

@media only screen and (min-width:960px) {
    .text-umage-left .text-content .main-content {
        width: 81%;
    }
}

.text-image-left .text-content .main-content p {
    margin-bottom: 10px;
    font-family: mose;
    color: var(--black);
    width: 100%;
}

.text-image-left .text-image-content h1 {
    font-size: 20px;
    font-weight: normal;
    color: var(--black);
}

.text-image-left .text-content span {
    font-weight: normal;
    color: var(--orange);
}

@media only screen and (min-width:960px) {
    .text-image-left .text-content h1 {
        font-size: 50px;
        color: var(--black);
    }
}

.text-image-left .text-content p {
    font-size: 16px;
}

@media only screen and (min-width:960px) {
    .text-image-left .text-content p {
        font-size: 16px;
        line-height: 28px;
    }
    .text-image-right {
        margin-left: 64px;
    }
}



img {
    display: block;
}

.svg {
    position: absolute;
    width: 0;
    height: 0;
}

.clipped {
    position: relative;
    width: 50%;
    height: 100vh;
    background-size: cover;
    -webkit-clip-path: url(#my-clip-path);
    clip-path: url(#my-clip-path);
    z-index: 100;
}

.slide {
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #E5E5EC 100%) 0% 0% repeat-x;
    height: 450px;
    overflow: hidden;
}

.slide .wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media only screen and (min-width:960px) {
    .slide .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0;
    }
}
.slide .wrapper .image img {
    transform: scale(0.) skew(0deg) translate(-30px, -138px);
}

.slide .wrapper .image img {
    /* position: relative; */
    /* display: block; */
    /* width: 90%;
    margin: 0 auto;
    height: auto; */
    transform: scale(0.83) skew(0deg) translate(627px, -128px);
}

@media only screen and (min-width:960px) {
    .slide .wrapper .image {
        position: absolute;
        z-index: 2;
    }
    .slide .wrapper .image img {
        /* position: relative; */
        /* display: block; */
        /* width: 90%;
        margin: 0 auto;
        height: auto; */
        transform: scale(0.83) skew(0deg) translate(627px, -128px);
    }
}
/* #bg {
    background: transparent linear-gradient(180deg, var(--unnamed-color-ffffff) 0%, #E5E5EC 100%) 0% 0% no-repeat;
    opacity: 1;
    padding: 0px 25px;
    display: flex;
} */

/* #bg .content p {
    margin-bottom: 30px;
    font-family: mose;
    width: 75%;
    color: var(--black);
    opacity: 1;
    letter-spacing: 0px;
} */

/* #text {
    margin-left: -20px;
} */

#text h3 {
    font-size: 33px;
    color: var(--black);

}

#text h3 span {
    color: var(--orange);
}

.box {
    position: relative;
}

.box>.box-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box-bg img {
    width: 484px;
    height: 517px;
    transform: matrix(0.95, -0.31, 0.31, 0.95, -43, -58);
}

#triangle img {
    width: 484px;
    height: 517px;
    transform: matrix(0.95, -0.31, 0.31, 0.95, -39, -49);
}

.box-img {
    height: 400px;
    width: 400px;
    clip-path: url(#my-clip-path);
}

/* card Hover */

.pics {
   
    height: 310px;
    display: flex;
    gap: 5px;
    flex-direction: row;
}


@media only screen and (min-width:960px) {
    .pics {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 410px;
        display: flex;
        gap: 10px;
    }

}

@media only screen and (max-width: 767px) {
    .pics .card .texto p span {
        font-size: 18px;
        font-family: mose;
    }

    .pics .card a {
       
        display: inline-block;
        margin-left: 56px;
        background-color: var(--orange);
        border-radius: 24px;
        text-decoration: none;
        color: #fff;
        font-family: meu;
        font-size: 8px;
        z-index: 100;
        overflow: hidden;
    }

    .pics .card .texto p {
        margin: 6px;
        padding-left: 50px;
        width: 285px;
        /* height: 100px; */
        color: #fff;
        font-family: mose;
        /* margin-bottom: 20px; */
    }

    .pics .card .texto h1 {
        font-size: 20px;
        font-family: meu;
        padding-left: 56px;
        width: 345px;
        color: var(--orange);
    }
    .pics .card .texto a {
        position: relative;
        z-index: 50;
    }

}

.pics .card .btn.btn:hover{
    color: var(--orange);
    background-color: #fff;
}

/* .card {
    overflow: hidden;
    min-width: 4%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-grow: 1;
    max-width: calc(33.3333% - 20px);
    flex: 1;
    margin: 10px;
    cursor: pointer;
    position: relative;
    transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    --transition-timing: 0.25s;
} */



@media only screen and (min-width:960px) {
    .card {
        /* overflow: hidden; */
        min-width: 12%;
        height: 100%;
        border-radius: 20px;
        display: flex;
        align-items: flex-end;
        flex-grow: 1;
        cursor: pointer;
        position: relative;
        transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        --transition-timing: 0.25s;
    }
}

.card.active {
    flex-grow: 100;

}

.card>.background {
    position: absolute;
    inset: 0;
    object-fit: cover;
     object-position: center; 
      filter: brightness(0.8); 
     z-index: -1; 
    transition: var(--transition-timing) ease;
    border-radius: 20px;
}

@media only screen and (min-width:960px) {
    .card>.background {
        position: absolute; 
        inset: 0;
        object-fit: cover;
        object-position: center;
        filter: brightness(0.8);
        z-index: -1; 
        transition: var(--transition-timing) ease;
        border-radius: 20px;
    }
}

.card.active>.background {
    filter: brightness(1) grayscale(0);
}

.card>.card-content {
    position: absolute;
    left: 10px;
    overflow: hidden;
    bottom: -15px;
    transition: var(--transition-timing);
   
}

@media only screen and (min-width:960px) {
    .card>.card-content {
        left: 10px;
        right: 10px;
        overflow: hidden;
        transition: var(--transition-timing);
        z-index: 10;
    }
}    

.card-content * {
    transition: var(--transition-timing);
}

.card-content>.profile-image {
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.card.active .profile-image {
    border: 1px solid rgb(110, 252, 205);
}

.profile-image>svg {
    stroke: #fefefe;
}

.card.active .profile-image>svg {
    stroke: rgb(110, 252, 205);
}

.card-content>.title {
    white-space: pre;
    margin-left: 10px;
    translate: 0 100%;
    opacity: 0;
    transition-delay: 0.3s;
    color: var(--grey);
    display: none;
}

.card.active .title {
    opacity: 1;
    translate: 0 0;
}

.card>.backdrop {
    position: absolute;
    border-radius: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    z-index: -1;
    /* background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7)); */
    background: transparent linear-gradient(180deg, #06084300 0%, #060843 100%);
}

.box2>.backdrop {
    position: relative;
    border-radius: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 470px;
    z-index: 1;
    /* background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7)); */
    background: transparent linear-gradient(180deg, #06084300 0%, #060843 100%);
}

/* fim Card Hover*/





/* parte de  */
.text {
    font-family: meu;
}

.text h1 {
    color: var(--black);
    font-size: 25px;
}

@media only screen and (min-width:960px) {
    .text h1 {
        color: var(--black);
        font-size: 50px;
    }
}
.text span {
    color: var(--orange);
}

.pics {
    margin: 0 auto;
    display: flex;
    cursor: pointer;
    z-index: 1000;
}

.pics .card .texto {
    z-index: 1000;
}

.pics .card .texto h1 {
    font-family: meu;
    padding-left: 56px;
    width: 345px;
    color: var(--orange);
}

.pics .card .texto p {
    margin: 6px;
    padding-left: 50px;
    width: 330px;
    height: 100px;
    color: #fff;
    font-family: mose;
    margin-bottom: 20px;
}

.pics .card .texto p span {
    font-family: mose;
}

.box .box-image {
    display: block;
    overflow: hidden;
}

.box2 .box-image img {
    border-radius: 20px;
}

.box .box-text {
    position: absolute;
}

.pics .card a {
    position: relative;
    display: inline-block;
    margin-left: 56px;
    background-color: var(--orange);
    border-radius: 24px;
    text-decoration: none;
    color: #fff;
    font-family: meu;
    font-size: 20px;
}

@media only screen and(min-width:960px){
    .pics .card a {
        position: relative;
        display: inline-block;
        margin-left: 56px;
        background-color: var(--orange);
        padding: 10px 30px;
        border-radius: 20px;
        text-decoration: none;
        color: #fff;
        font-family: meu;
        font-size: 15px;
    }
} 

.pics .card a:hover {
    background-color: var(--black);
}
 .text-image {
    overflow: hidden;
 }

 .slide-1  {
    background: rgb(208,208,220);
background: linear-gradient(360deg, rgba(208,208,220,1) 0%, rgba(208,208,220,0.8099614845938375) 100%);
    /* background: transparent linear-gradient(360deg, #FFFFFF 0%, #E5E5EC 100%) 0% 0% no-repeat; */
 }



.patern {
    position: relative;
    margin-top: -150px;
    background: var(--grey) url('/assets/images/pattern-sterco.svg') repeat left top;
    width: 100vw;
}

.patern::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background: rgb(208,208,220);
    background: linear-gradient(180deg, rgba(208,208,220,1) 0%, rgba(208,208,220,0) 100%);
}

.patern .patern-text {
    margin-top: 30px;
}
.patern .quote {
    display: block;
   font-size: 220px;
   line-height: 0px;
   color: var(--orange);
}

.patern .patern-text h2{
    font-size: 50px;
    color: var(--black);
    margin-left: 0px;
    width: 93%;
}
.test{
    position: relative;
    height: 100vh;
    background: var(--grey) url(/assets/images/pattern.svg) repeat left top;
    background-size: 50px 38px;
}

.test::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;    
    width: 100%;
    height: 30vh;
    background: rgb(208,208,220);
    background: linear-gradient(180deg, rgba(208,208,220,1) 0%, rgba(208,208,220,0) 100%);
}

@media only screen and (min-width:960px) {

    .patern .quote {
        display: block;
       font-size: 220px;
       line-height: 0px;
       color: var(--orange);
      
    }
    .patern .patern-text h2{
        display: inline-block;
        font-size: 50px;
        /* max-width: 611px; */
        color: var(--black);
        letter-spacing: 0px;
        margin-left: 90px;
        width: 91%;
    }
    .patern .patern-text {
        margin: 159px;
    margin-top: 315px;
        /* margin: 95px 177px; */
     }
}

.patern .patern-text p{
    font-size: 20px;
    font-family: mose;
    font-weight: bold;
    color: var(--black);
    overflow: hidden;
}

@media only screen and (min-width:960px) {
    .patern .patern-text p{
        font-size: 16px;
        font-family: mose;
        font-weight: bold;
        color: var(--black);
        margin-left: 380px;
        overflow: hidden;
    }
}
.patern .patern-text p span, .patern .patern-text h2 span {
    font-size: 50px;
    color: var(--orange);
}

.wrapper .information {
  margin-top: 207px;
}

.slide .wrapper .information h3 {
    text-transform: none; 
    font-size: 23px;
    width: 63%;
    margin-bottom: 20px;
    color: var(--black);
    font-weight: lighter;
}


@media only screen and (min-width:960px) {
    .slide .wrapper .information h3 {
        font-size: 50px;
        width: 108%;
        margin-bottom: 30px;
        color: var(--black);
    }

    .wrapper .information {
        margin-top: 120px;
      }
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: var(--black);
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   /* padding: 0 15px; */
}
.footer-col h4{
	font-size: 22px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
    font-family: mose;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
    font-family: mose;
}


.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.wrapper .logo img {
    width: 141px;
    margin-right: 100px;
    margin-bottom: 10px;

}

.copyright {
    background: #fff;
}

.copyright .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
   
}
.copyright .wrapper p{
   
    font-size: 14px;
    color: var(--black);
    font-family: mose;
}

.shape-mobile {
        height: 381px;
        width: 359px;
        clip-path: url(#my-clip-path);
}
.text-image-left .box-btn .btn:hover {
    background-color: var(--black);
}

.hero .btn:hover {
    background-color: var(--black);
}

@media(max-width: 767px){
    .wrapper .text-image-left .text-content h1{
        color: var(--black);
    }
    .card.active {
        flex-grow: 12;
    
    }
    .card {
        /* overflow: hidden; */
        /* min-width: 4%; */
        height: 300px;
        border-radius: 20px;
        display: flex;
        flex-grow: 2.3;
        /* max-width: calc(33.3333% - 20px); */
        /* flex: 1;
        margin: 10px; */
        margin-bottom: 20px;
        cursor: pointer;
        position: relative;
        transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        --transition-timing: 0.25s;
    }    

    .pics .card .texto {
        margin-left: -50px;
    }
    .slide .wrapper .image img {
        border-radius: 100%;
        transform: scale(0.33) skew(0deg) translate(-53px, -1178px);
    }
    .patern .patern-text {
        position: relative;
        z-index: 2;
        margin-top: 87px;
        width: 121%;
    }
    .patern .quote {
        display: block;
        font-size: 140px;
    }

    .patern .patern-text h2 {
        font-size: 38px;
    }
    .wrapper .information {
        margin-top: 148px;
    }
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}

.text-image-right {
    margin-left: -6px;
}
/* .box-img {
    height: 381px;
    width: 359px;
    clip-path: url(#my-clip-path);
} */
.box-bg img {
    width: 400px;
    height: 517px;
    transform: matrix(0.9, -0.31, 0.31, 0.95, -56, -58);
}

#triangle img {
    width: 395px;
    height: 517px;
    transform: matrix(0.9, -0.3, 0.31, 0.95, -57, -87);
}

.shape-mobile {
    height: 319px;
    width: 274px;
    clip-path: url(#my-clip-path);
}

}
@media(max-width: 574px){
    /* .slide .wrapper .image img {
        display: none;
    } */
  .footer-col{
    width: 100%;
}
.slide-1 {
    margin-bottom: 750px;
}

.pics .card a {
    position: relative;
    display: inline-block;
    margin-left: 56px;
    background-color: var(--orange);
    border-radius: 24px;
    text-decoration: none;
    color: #fff;
    font-family: meu;
    font-size: 20px;
}
}

  @media (max-width: 767px) {
    /* Adjust the grid for smaller screens */
    .pics {
        display: grid;
      grid-template-columns: 1fr;
      margin-bottom: 150px;
    }
    .box1 {
        margin-bottom: 86px;
    }

    .hero2{
        padding-top: 100px;
    }
    .hero2 .wrapper p {
        font-size: 15px;
    }
    .hero{
        margin-top: 50px;
        height: 85vh;
    }
  }
  